@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body { background: #0B1426; color: #fff; font-family: 'Plus Jakarta Sans', sans-serif; }
